.footer {
    background: transparent;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 1340px 0 0 668px;
    display: flex;
    justify-content: center;
    max-width: 1440px;
  }

  .footer__copyright {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    color: #212121;
    opacity: 70%;
  }
  