.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  padding: 0 10px;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal_is-open {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.modal__close-btn {
  font-size: 34px;
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 600;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}

.modal__input {
  box-sizing: border-box;
  line-height: 1;
  display: block;
  width: 100%;
  margin: 8px 0 0;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 6px;
  font-size: 20px;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  height: 52px;
  width: 156px;
  background-color: #212121;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.modal__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
